*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lightsalmon;
}
.input-box{
    margin: 300px auto;
    max-width: 500px;
}
.selector{
    width: 350px;
}
#selectField{
    padding: 15px 20px;
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
}
#list{
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}
.options{
    width: 100%;
    padding: 15px 0 15px 70px;
    list-style: none;
    box-sizing: border-box;
    position: relative;
}
.options img{
    position: absolute;
    top: 12px;
    left: 25px;
    transform-origin: 0.5s;
}
.options:hover{
    background: #fff;

}
.hide{
    visibility: hidden;
}
.rotate{
    transform: rotate(180deg);
}